@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap";
* {
  color: inherit;
  padding: 0;
  margin: 0;
}
body {
  font-family: Roboto;
  min-height: 100vh;
  background-color: #0f0f0f;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
header {
  margin-top: -12px;
}
header div input {
  margin-left: 16px;
  width: 545px;
  height: 40px;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  border: 0.01px solid #2b2b2b;
}
header div input[type="text"] {
  padding: 0 15px;
  font-size: 16px;
  background-color: #121212;
  color: #fff;
  outline: none;
  font-weight: 300;
  font-family: "Roboto", sans-serif, Verdana;
}
header div .logo {
  width: 120px;
  cursor: pointer;
}
header div .search-icn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282828;
  height: 41px;
  width: 100%;
  max-width: 62px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}
header div .mic-icn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282828;
  height: 40px;
  width: 44px;
  border-radius: 20px;
  size: 14px;
  cursor: pointer;
}
.categories {
  width: 100%;
  height: 56px;
  color: #fff;
  padding: 0 24px;
  margin-top: -10px;
  margin-left: 80px;
}
.categories .category {
  background-color: #282828;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  height: 32px;
  font-size: 14px;
  font-family: "Roboto", sans-serif, Verdana;
  font-weight: 500;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.categories .category:first-child {
  background-color: #fff;
  color: #000;
}
.categories .category:first-child:hover {
  background-color: #fff;
}
.categories .category:hover {
  background-color: #3d3d3d;
}
.categories svg {
  margin-left: 40px;
}
aside {
  position: absolute;
  float: left;
  height: auto;
  width: 65px;
  padding: 0 4px;
  background-color: #0f0f0f;
  cursor: pointer;
}
aside .home p,
aside .shorts p,
aside .subscriptions p,
aside .you p {
  font-size: 10px;
  color: #fff;
  font-weight: 400;
  padding: 4px 0;
  font-family: "Roboto", sans-serif, Verdana;
}
aside .home:hover,
aside .shorts:hover,
aside .subscriptions:hover,
aside .you:hover {
  width: 100%;
  border-radius: 15px;
  background-color: #3d3d3d;
}
.videos-section {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 1000px;
  width: 92%;
  height: auto;
  top: 0;
  left: 95px;
  cursor: pointer;
}
.videos-section .row-one {
  gap: 15px;
  margin: auto;
  margin-bottom: 20px;
}
.video {
  margin-top: 20px;
}
.video .video-title {
  font-size: 1rem;
  font-family: "Roboto", sans-serif, Verdana;
  font-weight: 500;
  color: #fff;
  margin-bottom: 10px;
}
.video .username {
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif, Verdana;
  color: #aaa;
  font-weight: 500;
}
.video .video-engagement span {
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif, Verdana;
  color: #aaa;
  font-weight: 500;
}
.video .thumbnail {
  background-image: url(/assets/thumbnails/thumbnail.jpeg);
  background-size: cover;
  background-color: gray;
  border-radius: 10px;
  width: 320px;
  height: 190px;
}
.video .creator-one {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  background-image: url("/assets/pfp/pfp-1.jpeg");
  background-size: cover;
}
.video .creator-two {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  background-image: url("/assets/pfp/pfp-2.jpeg");
  background-size: cover;
}
.video .creator-three {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  background-image: url("/assets/pfp/pfp-3.jpeg");
  background-size: cover;
}
.video .creator-four {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  background-image: url("/assets/pfp/pfp-4.jpeg");
  background-size: cover;
}
.p-0 {
  padding: 0.5rem;
}
.pt-2 {
  padding-top: 0.875rem;
}
.pb-3 {
  padding-bottom: 1rem;
}
.mt-1 {
  margin-top: 0.75rem;
}
.d-flex {
  display: flex;
}
.jc-center {
  justify-content: center;
}
.jc-space-between {
  justify-content: space-between;
}
.fd-column {
  flex-direction: column;
}
.ai-center {
  align-items: center;
}
.container {
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: row wrap;
}
.gap-1 {
  gap: 12px;
}
.gap-2 {
  gap: 14px;
}
