aside{
  position: absolute;
  float: left;
  height: 100%;
  width: 65px;
  padding: 0 4px;

  .home, .shorts, .subscriptions, .you{
    p{
      font-size: 10px;
      color: white;
      font-weight: 400;
      padding: 4px 0;
      font-family: 'Roboto', sans-serif, Verdana;
    }
  }
}